@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=VT323&display=swap');

@import "variables/variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron';
}

.content {
    min-height: 100vh;
    background-color: $base-black;
    color: #fff;
    width: 100%;

    nav {
        color: black;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        background-color: $neon-yellow;
        padding: 0 1rem 0 1rem;

        .logo {
            flex-basis: 33%;

            a {
                text-decoration: none;
                color: $base-black;

                h1 {
                    font-family: 'VT323';
                    font-size: 4rem;
                    font-weight: 400;
                    width: max-content;
                    height: 60px;
                    position: relative;

                    &::before {
                        content: '';
                        width: .2rem;
                        height: 2.5rem;
                        position: absolute;
                        left: 0;
                        bottom: .5rem;
                        z-index: 10;
                        background: $neon-blue;
                        animation: typing 2s steps(11) forwards,
                            blinking-line .8s steps(11) infinite;


                        @keyframes blinking-line {
                            to {
                                background: transparent;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background: $neon-yellow;
                        animation: typing 2s steps(11) forwards;
                    }

                    @keyframes typing {
                        to {
                            left: 100%;
                        }
                    }
                }
            }

        }


        ul {
            flex-basis: 33%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;

            &:last-of-type {
                justify-content: flex-end;

                li {
                    margin: 0 2rem 0 0;
                }
            }

            li {
                position: relative;

                img {
                    max-width: 50px;
                    transition: filter .3s ease-in-out;
                }

                a {
                    display: block;
                    width: 100%;
                    color: $base-black;
                    font-weight: bold;
                    text-decoration: none;
                    transition: color .3s ease-in-out;

                }



                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: $neon-blue;
                    top: 35px;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                }

                &:hover {
                    &::after {
                        opacity: 1;
                    }
                }
            }

            &:last-of-type {

                li {
                    &:last-of-type::after {
                        display: none;
                    }

                    a {
                        display: flex;
                        align-items: center;

                        img {
                            position: relative;
                        }

                        span {
                            position: absolute;
                            top: 0;
                            right: -1em;
                            width: 1.5rem;
                            height: 1.5rem;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: $neon-red;
                            text-align: center;
                            border-radius: 50%;
                            transition: all .3s ease-in-out;
                        }
                    }

                    &:last-of-type:hover {

                        img {
                            filter: invert(67%) sepia(74%) saturate(1340%) hue-rotate(135deg) brightness(98%) contrast(97%);
                            position: relative;
                        }

                        span {
                            background-color: $neon-blue;
                            color: $base-black;
                        }


                    }

                }

            }

        }


    }
}