@import '../variables/variables.scss';


.product {
    color: $base-black;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 10%;
    background-color: $neon-yellow;
    min-height: 50vh;

    img {
        max-height: 50vh;
        max-width: 50%;
    }

    .product-info {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 50%;

        p:last-of-type {
            flex-basis: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5rem;
        }

        a {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $neon-red;
            text-decoration: none;
            color: #fff;
            clip-path: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
            transition: all .3s ease-in-out;
            font-size: 1.5rem;

            &:hover {
                background-color: $neon-blue;
                color: $base-black;
            }
        }
    }
}